
<body>
    <div class="flex-container">
    <div class="container">
        <h1>GIVE ME YOUR EMAIL!!!</h1>
        <p>We have<strong><%= count %></strong>emails</p>
        <form method="POST" action='/register'>
            <input type="text" name="email" placeholder="Email goes here!">
            <button>Send email</button>
        </form>
    </div>
</div>
</body>
